<template>
    <div class="container">
        <the-loader v-if="loading" />
        <div class="row justify-content-center pt-3">
            <div class="col-6 position-relative">
                <form @submit.prevent="handleLogin()">
                    <div class="form-floating mb-3">
                        <input
                            id="floatingInput"
                            v-model="form.login"
                            type="text"
                            class="form-control"
                            placeholder="Login"
                        />
                        <label for="floatingInput">Login</label>
                    </div>
                    <div class="form-floating">
                        <input
                            id="floatingPassword"
                            v-model="form.password"
                            type="password"
                            class="form-control"
                            placeholder="Password"
                        />
                        <label for="floatingPassword">Password</label>
                    </div>
                    <button
                        type="submit"
                        class="btn btn-primary float-end mt-3"
                        @submit.prevent="handleLogin()"
                    >
                        Sign in
                    </button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapMutations } from 'vuex'
    import { TheLoader } from '@/components/index'
    import { MessageMixin } from '@/mixins/index'
    import URL from '@/API/index'

    export default {
        components: {
            TheLoader,
        },

        mixins: [MessageMixin],

        data() {
            return {
                loading: false,
                IMEI: null,
                form: {
                    login: '',
                    password: '',
                },
                visitorId: null,
            }
        },

        methods: {
            ...mapMutations(['setUser']),

            handleLogin() {
                this.loading = true
                const FORM = this.form

                const paramsLogin = {
                    login: FORM.login,
                    password: FORM.password,
                    IMEI: this.$IMEI,
                }

                this.login(paramsLogin)
                    .then((response) => {
                        if (response && response.data) {
                            const data = response.data[0]

                            if (data.id_login) {
                                this.setUser(data)

                                this.$router.push({
                                    name: 'User',
                                    params: {
                                        id: data.id_login,
                                    },
                                })
                            } else {
                                throw new Error(data.err_text)
                            }
                        }
                    })
                    .catch((error) => {
                        this.showError(error.err_text)
                    })
                    .finally(() => {
                        this.loading = false
                    })
            },

            login({ login, password, IMEI }) {
                return this.$axios.get(URL.LOGIN, {
                    params: {
                        json: {
                            login,
                            password,
                            IMEI,
                            Name_app: 'connect',
                        },
                    },
                })
            },
        },
    }
</script>
