<template>
    <div class="container">
        <the-loader v-if="loading" />
        <div class="row justify-content-center pt-3">
            <table
                v-if="documents.length"
                class="table table-striped table-hover table-bordered"
            >
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Data</th>
                        <th scope="col">Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        v-for="document in documents"
                        :key="document.id_document"
                        class="cursor-pointer"
                        @click="handleOpenDocument(document)"
                    >
                        <th scope="row">{{ document.id_document }}</th>
                        <td>{{ document.doc_name }}</td>
                        <td>{{ document.date_doc }}</td>
                        <td>{{ document.file_ext }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script>
    import { mapMutations } from 'vuex'
    import { TheLoader } from '@/components/index'
    import { MessageMixin, PolicyMixin } from '@/mixins/index'
    import URL from '@/API/index'

    export default {
        components: {
            TheLoader,
        },

        mixins: [PolicyMixin, MessageMixin],

        beforeRouteEnter(to, from, next) {
            next((vm) => {
                vm.checkPermission()
            })
        },

        data() {
            return {
                loading: false,
                user: this.$store.state.user,
                documents: [],
            }
        },

        mounted() {
            this.loadData()
        },

        methods: {
            ...mapMutations(['setDocumentInUser']),

            loadData() {
                this.loading = true
                const USER = this.user

                const config = {
                    id_login: String(USER.id_login),
                    id_people: String(USER.id_people),
                    TK: USER.TK,
                    IMEI: this.$IMEI,
                }

                this.getUserDocuments(config)
                    .then((response) => {
                        if (response && response.data) {
                            this.documents = response.data.body
                            this.setDocumentInUser(this.documents)
                        }
                    })
                    .catch((error) => {
                        console.log(error)
                        this.showError(error.errorText)
                    })
                    .finally(() => {
                        this.loading = false
                    })
            },

            getUserDocuments({ id_login, id_people, TK, IMEI }) {
                return this.$axios.get(URL.TEST, {
                    params: {
                        json: {
                            id_login,
                            id_people,
                            TK,
                            IMEI,
                            Name_app: 'connect',
                            Name_event: 'list_load',
                        },
                    },
                })
            },

            openDocument(hash) {
                window.open(URL.DEFAULT + hash, '_blank')
            },

            handleOpenDocument({ id_document, doc_type }) {
                this.loading = true
                const USER = this.user

                const config = {
                    id_login: String(USER.id_login),
                    id_people: String(USER.id_people),
                    TK: USER.TK,
                    IMEI: this.$IMEI,
                    id_document: id_document,
                    doc_type: doc_type,
                }

                this.getDocumentHash(config)
                    .then((response) => {
                        if (response && response.data) {
                            const hash = response.data.body[0].hash
                            this.openDocument(hash)
                        }
                    })
                    .catch((error) => {
                        console.log(error)
                        this.showError(error.errorText)
                    })
                    .finally(() => {
                        this.loading = false
                    })
            },

            getDocumentHash({
                id_login,
                id_people,
                TK,
                IMEI,
                id_document,
                doc_type,
            }) {
                return this.$axios.get(URL.TEST, {
                    params: {
                        json: {
                            id_login,
                            id_people,
                            TK,
                            IMEI,
                            Name_app: 'connect',
                            Name_event: 'get_pic_path',
                            id_document,
                            doc_type,
                        },
                    },
                })
            },
        },
    }
</script>
